#header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
/* h3{
    margin: 20px ;
} */

.breadcrumb{
    margin: 12px;
}

.breadcrumb .breadcrumb-item a{
    /* font-size: 18px; */
    text-decoration: none;
}

#isi-menu02{
    padding: 20px 50px;
    margin: 0 10px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    /* border-radius: 0 0 20px 20px; */
    border-radius: 20px 20px 0 0;
    align-items: center;
}

#fileter_kategory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#isi-menu-body{
    display: flex;
    flex-direction: row;
}

#isi-menu{
    /* padding: 20px 30px ; */
    margin: 6px 10px;
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 0 20px;
    align-items: center;
    width: 60%; 
    overflow-y: auto; 
    height: 70vh;

}
#isijudultabel_product::-webkit-scrollbar {
    display: none;
  }

#isi-menu::-webkit-scrollbar {
    display: none;
  }

#isi-menu #isitabel_product tbody tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
#isi-menu #isitabel_product thead tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}


#isi-menu03{
    padding: 2px 30px ;
    position: relative;
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
    align-items: center;
    width: 100%; 
    overflow-y: auto;
    height: 30vh;

}
#isi-menu04{
    padding: 2px 30px ;
    position: relative;
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 20px 0;
    align-items: center;
    margin-top: 2vh;
    width: 100%; 
    overflow-y: auto;
    height: 38vh;

}

#isi-menu-0304{
    /* padding: 2px 60px ; */
    /* position: relative; */
    margin: 6px 10px;
    
    /* background-color: white; */
    /* box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4); */
    /* border-radius: 0 0 20px 0; */
    /* align-items: center; */
    width: 40%; 
    /* overflow-y: auto; */
    height: 70vh;

}

#isi-menu-0304addorder{
    /* padding: 2px 50px ; */
    position: relative;
    margin: 6px 10px;
    
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 20px 0;
    align-items: center;
    width: 40%; 
    overflow-y: auto;
    height: 70vh;

}

#isi-menu03::-webkit-scrollbar {
    display: none;
}

#isi-menu03 #isitabel_product tbody tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}


#isi-menu04 #isitabel_product thead tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}


#isi-menu04::-webkit-scrollbar {
    display: none;
}

#isi-menu04 #isitabel_product tbody tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

#isi-menu04 #isitabel_product thead tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

#table-input-orderan thead tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: 12px;
}
#detailorderan #tabledetai01 td{
    font-size: 12px;
}
#detailorderan #tabledetai02 thead tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: 12px;
}

#detailorderan #tabledetai02 tbody tr{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    /* font-size: 12px; */
}

.fade {
    opacity: 0;
    /* transform: translateY(-10px); */
    transform: translateY( -50px);
    animation: fadeIn 0.2s ease-out forwards;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px); /* Mulai dari kanan atas */
      }
      to {
        opacity: 1;
        transform: translate(0, 0); /* Berada di posisi normal */
      }
    }
  


