<div style="width: 100%; box-sizing: border-box">
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff9f9;
      "
    >
      <div id="header-menu">
        <!-- <h3>Cashier Admin</h3> -->
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cashier Admin</li>
          </ol>
        </nav>
      </div>
  
      <div id="isi-menu02">
        <div
          id="fileter_kategory"
          tabindex="0"
          data-bs-toggle="popover"
          data-bs-trigger="hover focus"
          data-bs-content="Disabled popover"
        >
          <div style="display: flex; flex-direction: row; align-items: center">
            <form *ngIf="!addneworder" class="d-flex" role="search" style="margin-left: 30px">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
            
            
          </div>
  
          <div style="display: flex; flex-direction: row">
            <button  type="button" class="btn btn-primary btn-sm" routerLink="/post">Add New Order</button>
            <!-- <button  type="button" class="btn btn-primary btn-sm" (click)="moveaddorder()">{{ addneworder ? 'Cashier admin' : 'Add New Order' }}</button> -->
            
          </div>
        </div>
  
        <div style="display: flex; flex-direction: row; gap: 5px"></div>
      </div>
    </div>
  
    <div *ngIf="!addneworder" id="isi-menu-body"  class="fade">
      <div id="isi-menu" style="padding: 20px 30px;margin: 6px 10px;">
        <table id="isitabel_product" class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">ORDER ID</th>
              <th scope="col">NAME</th>
              <th scope="col">TABLE</th>
              <th scope="col">ORDERAN TYPE</th>
              <th scope="col">TIME</th>
              <th scope="col">PAYMENT</th>
              <th scope="col">DETAIL</th>
            </tr>
          </thead>
          <tbody>
            <!-- <h6 style="margin-left: 10px;">{{ category.key }}</h6> -->
            <tr *ngFor="let dataorder of orderview">
              <td id="category-name">
                {{dataorder.code | slice:0:11}}
              </td>
              <td>
                {{dataorder.customerName}}
              </td>
              <td>
                {{dataorder.tableName}}
              </td>
              <td>
                {{dataorder.type}}
              </td>
              <td>
                {{dataorder.createdAt| date:"HH:mm:dd"}}
              </td>
              <td>
                <p *ngIf="dataorder.paymentStatus?.toLowerCase() == 'paid'" style="margin: 2px 6px; border-radius: 5px; background-color: #A2FF99;">{{dataorder.paymentStatus}}</p>
                <p *ngIf="dataorder.paymentStatus?.toLowerCase() == 'unpaid'" style="margin: 2px 6px; border-radius: 5px; background-color: #FBC924;">{{dataorder.paymentStatus}}</p>
                
              </td>
              <td>
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 30px;
                    align-items: center;
                    margin: 0 20px;
                  "
                >
              
  
                  <div style="color: green; font-size: 20px; margin: 0; cursor: pointer;">
                    <i class="fa-solid fa-print" data-bs-toggle="modal" data-bs-target="#detailorderan" (click)="getorderbyid(dataorder.id)"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="isi-menu-0304">
        <div id="isi-menu03">
          <div
            id="judul-tabel-delivery"
            style="display: flex; align-items: center; margin-bottom: 2px"
          >
            <h6 style="margin: 0; margin: 6px 0 3px 0"><B>DELIVERY STATUS</B></h6>
            <!-- <i class="fa-solid fa-pen-to-square" style="color: #f80000"></i> -->
          </div>
          <table id="isitabel_product" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">ORDER ID</th>
                <th scope="col">TABLE</th>
                <th scope="col">TIME</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orderdeliverd of orderdeliverd">
                <td>{{orderdeliverd.code  | slice:0:11 }}</td>
                <td>{{orderdeliverd.tableName}}</td>
                <td>{{orderdeliverd.deliveredAt| date:"HH:mm:ss"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="isi-menu04">
          <div
            id="judul-tabel-delivery"
            style="display: flex; align-items: center; margin-bottom: 2px"
          >
            <h6 style="margin: 0; margin: 6px 0 3px 0"><B>KITCHEN QUEUE</B></h6>
          </div>
          <table id="isitabel_product" class="table table-striped table-sm">
            <thead>
              <tr>
                <th class="colom_pertama" scope="col">ORDER ID</th>
                <th scope="col">TABLE</th>
                <!-- <th scope="col">TIME</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orderprocess of orderprocess">
                <td>{{orderprocess.code}}</td>
                <td>{{orderprocess.tableName}}</td>
                <td><p style="margin: 2px 0px;  border-radius: 5px; background-color: #FBC924;">{{orderprocess.status}}</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div *ngIf="addneworder " id="isi-menu-body" class="fade">
      <div id="isi-menu">
        <div id="isijudultabel_product" style="overflow-x: auto; position: sticky; top: 0; background-color: white;z-index: 3;margin: 0; padding: 6px 10px; ">
          <table *ngIf="addneworder"  class="table table-striped" style="width: 100%;">
            <thead style="font-size: large; " id="isi_product">
              <tr>
                <td style="cursor: pointer; white-space: nowrap;" *ngFor="let category of groupedProducts | keyvalue">
                  <div (click)="scrollTo(category.key)">
                    {{ category.key }}
                  </div>
                </td>
              </tr>
            </thead>
          </table>
        </div>
        <div *ngFor="let category of groupedProducts | keyvalue">
          <h6 style="margin-left: 10px;">
            <div id="{{ category.key }}">
              {{ category.key }}
            </div>
            </h6>
              <div class="row" style="margin: 20px;">
                <div class="col-md-3 mb-3" *ngFor="let product of category.value">
                  <div class="card h-100 shadow" style="width: 100%;">
                    <img class="card-img-top" [src]="product.urlImage || 'assets/default-image.png'" width="150px" height="150px">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p>{{ product.price }}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div id="isi-menu-0304addorder">
        <div style="padding: 10px; background-color: #f9f9f9;">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="formFileSm" class="col-form-label">Table :</label>
            </div>
            <div class="col-auto">
              <select class="form-select form-select-sm" aria-label="Small select example">
                <option selected>Select number</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="formFileSm" class="col-form-label">Name :</label>
            </div>
            <div class="col-auto">
              <input type="text" id="inputnama" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
            </div>
          </div>
        </div>
  
        <div>
          <table id="table-input-orderan" class="table table-striped">
            <thead>
              <tr>
              <th>Item Order</th>
              <th>Quantity</th>
              <th>Prices</th>
            </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          <div style="width: 100%; height: 100px; display: flex;flex-direction: column;justify-content: center;align-items: center;">
            <h3 style="opacity: 50%;">No order selected yet.</h3>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Scrollable modal -->
  <div class="modal fade" id="detailorderan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body" *ngFor="let orderid of ordersbyid">
          <div style="display: flex; flex-direction: column; justify-content: center; justify-content: center;">
           <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img
            src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/logo/logo.png"
            alt="Image"
            alt=""
            width="80"
          />
          </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1>WARUNG K'JAYA</h1>
            <p>CLOSED BILL</p>
            <table id="tabledetai01" class="table table-borderless">
              <TBody>
                <td>
                <tr><td>{{orderid.createdAt| date: 'dd MMM YYYY, HH:mm'}}</td></tr>
                <tr><td>Order Type</td></tr>
                <tr><td>Table Number</td></tr>
                <tr><td>Cashier</td></tr>
                <tr><td>Costumer</td></tr>
                <tr><td>Payment Method</td></tr>
              </td>
              <td align="right">
                <tr><td>{{orderid.code}}</td></tr>
                <tr><td>{{orderid.type}}</td></tr>
                <tr><td>{{orderid.tableName}}</td></tr>
                <tr><td>{{orderid.adminName}}</td></tr>
                <tr><td>{{orderid.customerName}}</td></tr>
                <tr><td>Pay at cashier</td></tr>
              </td>
              </TBody>
            </table>
            <table id="tabledetai02" class="table table-sm table-borderless">
              <thead class="table-secondary">
                <tr>
                  <td>ITEM ORDER</td>
                  <td>QUANTITY</td>
                  <td>PRICES</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detailorderid of orderid.productOrders">
                  <td>{{detailorderid.name}}</td>
                  <td>{{detailorderid.quantity}}</td>
                  <td>{{detailorderid.subTotalPrice | number:'1.2-2'}}</td>
                </tr>
              </tbody>
              <tbody class="table-secondary">
                <tr>
                  <td></td>
                  <td>SubTotal</td>
                  <td>{{ orderid.subTotalPrice| number:'1.2-2'}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Tax(10%)</td>
                  <td *ngIf="orderid.subTotalPrice !== undefined">{{(orderid.tax) | number:'1.2-2'}}</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <!-- <td></td> -->
                  <td colspan="2"><b>Total payment</b></td>
                  <td *ngIf="orderid.subTotalPrice !== undefined">{{orderid.totalPrice | number:'1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
            <p style="font-size: 24px; margin-top: 20px;">Thank you for coming,</p>
            <p>don't forget to tell your close friends about our restaurant</p>
            <button style="margin-top: 40px;" class="btn btn-primary">DOWNLOAD PDF <i class="fa-solid fa-print"></i></button>
          </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  

  <!-- Toast jika orderan masuk -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="neworderToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">You’ve received a new order!</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
