<app-layout>
  <div main class="main-container">

    <div class="text-center">
      <span class="text-success fw-bold">Order Successful</span>
    </div>

    <div class="order-item" *ngFor="let item of orderedInformation">
      <span class="order-label">{{ item.label }}</span>
      <span class="order-value">{{ item.value }}</span>
    </div>

    <div class="d-flex justify-content-between">
      <span class="fw-bold m-1" style="font-size: 13px;">Item order ( {{ordered?.totalQuantity}} )</span>
    </div>

    <div style="margin-bottom: 5px;" *ngFor="let productOrder of ordered?.productOrders">
      <app-product-card [product]="productOrder" [isEdited]="false"></app-product-card>
    </div>


    <div class="summary-card">
      <div class="summary-row" *ngFor="let item of orderedPaymentInformation">
        <span class="summary-label">{{ item.label }}</span>
        <span class="summary-value"> {{ item.value | currency : "Rp " : "symbol" : "1.0-0"}}</span>
      </div>
    </div>

    <div class="d-flex justify-content-between p-3">
      <button
        type="button"
        class="btn btn-secondary flex-grow-1 me-2"
        (click)="derect.toHistoryOrderPage()"
      >
        <i class="bi bi-clock-history me-1"></i> Order History
      </button>
      <button
        type="button"
        class="btn btn-primary flex-grow-1"
        (click)="derect.toMenuPage()"
      >
        <i class="bi bi-plus-circle me-1"></i> New Order
      </button>
    </div>
    <div class="section-spacer"></div>

  </div>

</app-layout>


<style>
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    /* background-color: #f9f9f9; */
  }

  .order-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 14px;
  }

  .order-label {
    color: #555;
  }

  .order-value {
    font-weight: bold;
    color: #222;
  }

  .summary-card {
    margin-top: 16px;
    padding: 12px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .summary-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 13px;
  }

  .summary-label {
    color: #555;
  }

  .summary-value {
    font-weight: bold;
    color: #222;
  }

  .section-spacer {
    height: 200px;
  }
</style>