<app-layout>
  <div main>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
      <div class="d-flex justify-content-center">
        <span class="fw-bold">
          {{ orderId }}
        </span>
      </div>

      <div class="d-flex justify-content-between p-3">
        <button type="button" class="btn btn-secondary" (click)="derect.historyOrderPage()">Riwayat</button>
        <button type="button" class="btn btn-main-color" (click)="derect.toMenuPage()">Pesanan Baru</button>
      </div>
    </div>
</app-layout>
