/* Mengatur teks dalam thead ke tengah */
.table thead th {
    text-align: center;
    vertical-align: middle;
  }

#cardlistmenu{
  width: 180px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}
#cardlistmenu:hover { /* Tidak ada spasi di sini */
  transform: scale(1.1);
  cursor: pointer;
}

#buttonback{
  border: 2px solid rgba(0, 0, 0, 0.324);
  border-radius: 8px; 
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
#buttonback:hover{
  background-color: #f80000;
  color: white;
  border-color: white;
}

  
 
  