<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">image</th>
            <th scope="col">price</th>
            <th scope="col">category</th>
            <th scope="col">description</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                {{product.name}}
            </td>
            <td>
                <img src="" alt="">
            </td>
            <td>
                {{product.price}}
            </td>
            <td>
                {{product.category}}
            </td>
            <td>
                {{product.description}}
            </td>
            <td>
                <div class="form-check form-switch">
                    <input 
                      class="form-check-input" 
                      type="checkbox" 
                      role="switch" 
                      [checked]="product.isActivated" 
                    >
                  </div>
                {{product.isActivated}}
            </td>


        </tr>
    </tbody>
</table>


<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">image</th>
            
    </thead>
    <tbody>
        <tr *ngFor="let category of categorys">
            <td>
                {{category.name}}
            </td>
            <td>
                {{category.id}}
            </td>
           


        </tr>
    </tbody>
</table>


<div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" >
      <option *ngFor="let category of categorys" [value]="category.id" >{{category.name}}</option>
    </select>
    <label for="floatingSelect">Works with selects</label>
  </div>






  