<h3>Master Category</h3>


<div style="margin: 20px 10px;" class="row">


    <!-- <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div> -->


    <div class="col-sm-2 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <!-- <p class="card-text"></p> -->
            <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg" style="width: auto; height: 80px;" class="rounded mx-auto d-block" alt="...">
            <div class="card-footer" style="border: 0; background-color: white;">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <p class="card-text"></p>
            <div class="card-footer" style="border: 0; background-color: white;">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <p class="card-text"></p>
            <div class="card-footer" style="border: 0; background-color: white;">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <p class="card-text"></p>
            <div class="card-footer" style="border: 0; background-color: white;">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <div  class="col-sm-2 mb-3 mb-sm-0">
        <div class="card text-center">
            <button type="button" class="btn btn-link">
                <i class="fa-thin fa-plus"></i>
            </button>
            
        </div>


    </div>
</div>


<div class="row">

</div>