<div
  style="
    background-color: #f00;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
  "
>
  <div
    style="
      min-height: 15vh;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <div *ngIf="showLogoAndNavBarIconComponent">
      <div style="position: absolute; top: 10px; right: 10px">
        <button
          style="
            background: none;
            border: none;
            cursor: pointer;
            font-size: 24px;
            color: white;
            transition: color 0.3s ease;
          "
          aria-label="Menu"
          (click)="derect.toHistoryOrderPage()"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>

      <div>
        <img
          style="width: 200px; height: auto; opacity: 1; margin: 10px 0"
          alt="icon"
          src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/product_image/logo-white.png"
        />
      </div>
    </div>
    <div style="position: absolute; bottom: 15px; left: 15px">
      <button
        class="btn text-decoration-none border-0 d-flex align-items-center p-0"
        (click)="derect.goBack()"
      >
        <i class="fa-solid fa-arrow-left me-1" style="color: white"></i>
        <span class="fw-bold" style="color: white">Back</span>
      </button>
    </div>

    <ng-content select="[header]" style="min-height: 30%"> </ng-content>
  </div>
  <div
    class="p-2"
    style="
      border-radius: 24px 24px 0px 0px;
      background-color: white;
      height: 85vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    "
  >
    <app-spinner-component [isLoading]="isLoading"></app-spinner-component>
    <ng-content select="[main]"> </ng-content>
  </div>
</div>
