<div class="card shadow my-2">
    <div class="d-flex align-item-center">
      <img
        [src]="product.urlImage"
        class="img-fluid rounded me-3"
        alt="{{ product.name }}"
        style="
          width: 100px;
          height: 100px;
          object-fit: cover;
          flex-shrink: 0;
          border-radius: 15px;
          margin: 5px;
          border: 0.5px solid #9b9b9b;
        "
      />
      <div style="min-width: 200px; max-width: 70%; flex-grow: 1">
        <p class="fw-bold mb-1">{{ product.name }}</p>
        <p class="text-break" style="font-size: 12px">
          {{ product.description }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <p class="text align-self-center">{{ product.price }}</p>
          <div
            class="row align-items-center"
            style="margin-right: 2px"
            *ngIf="orderService.getProductQuantity(product.id) > 0"
          >
            <div class="col-auto">
              <button
                class="btn btn-outline-danger btn-sm"
                style="
                  border-radius: 50px;
                  border: 2px solid red;
                  --bs-btn-padding-y: 0.1667rem;
                  --bs-btn-padding-x: 0.3333rem;
                  --bs-btn-font-size: 0.5rem;
                  margin-bottom: 2px;
                "
                (click)="orderService.decreaseQuantity(product)"
              >
                <i class="fa-solid fa-minus"></i>
              </button>
            </div>
            <div
              class="col text-center p-0 d-flex justify-content-center align-items-center"
              style="
                border: 1px solid red;
                height: 22px;
                width: 40px;
                border-radius: 5px;
              "
            >
              <span>{{ orderService.getProductQuantity(product.id) }}</span>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-outline-danger btn"
                style="
                  border-radius: 50px;
                  border: 2px solid red;
                  --bs-btn-padding-y: 0.1667rem;
                  --bs-btn-padding-x: 0.3333rem;
                  --bs-btn-font-size: 0.5rem;
                  margin-bottom: 2px;
                "
                (click)="orderService.increaseQuantity(product)"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
  
          <!-- Show only the "+" button if quantity is 0 or less -->
          <div
            class="d-flex justify-content-end align-items-center"
            style="min-width: 50%; margin-right: 8px"
            *ngIf="orderService.getProductQuantity(product.id) <= 0"
          >
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="orderService.increaseQuantity(product)"
            >
              add
            </button>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>