<div style="width: 100%; box-sizing: border-box">
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff9f9;
      "
    >
      <div id="header-menu">
        <!-- <h5>Master Product</h5> -->
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">History</li>
          </ol>
        </nav>
      </div>
      <div id="isi-menu02">
        <div
          id="fileter_kategory"
          tabindex="0"
          data-bs-toggle="popover"
          data-bs-trigger="hover focus"
          data-bs-content="Disabled popover"
        >
          <div style="display: flex; flex-direction: row; align-items: center">
            
  
            <!-- menu filter ke dua -->
            <!-- <div id="menu-filter">
              <i
              class="fa-solid fa-filter" 
              (click)="toggleDisabled()"
              [ngClass]="{ 'color-menu-filter': !isDisabled }"
            ></i>
            </div> -->
  
            <div style="display: flex; flex-direction: row; align-items: center">
                <input style="margin-left: 30px" type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" aria-describedby="search-icon">
            </div>
          </div>
  
          <div style="display: flex; flex-direction: row">
            <button
            type="button" class="btn btn-primary"
            data-bs-toggle="modal"  data-bs-target="#downloadhistory"
            >Download <i class="fa-solid fa-print"></i></button
            >
            <!-- <button type="button" class="btn btn-primary">Primary</button> -->
          </div>
        </div>
        <div id="isi-menu-filter" *ngIf="!isDisabled">
          
        <!-- <div id="radios-menu" style="display: flex;flex-direction: column; margin-left: 30px;">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="selectedValue" value="30">
            <label class="form-check-label" for="flexRadioDefault1">
              Last 30 days
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="selectedValue" value="90">
            <label class="form-check-label" for="flexRadioDefault2">
              Last 90 days
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" [(ngModel)]="selectedValue" value="All" checked>
            <label class="form-check-label" for="flexRadioDefault3">
              ALL
            </label>
          </div>
        </div>
          <ul id="garis-menu-filter">
            <div style="width: 100%; height: 1px; background-color: black"></div>
          </ul> -->

          <form class="row g-2">
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
          </form>
        </div>
      </div>
      <div id="isi-menu">
        <table id="isitabel_product" class="table table-striped">
          <thead>
            <tr>
              <th>Code</th>
              <th>Customer</th>
              <th>Table</th>
              <th>Status</th>
              <th>Total Price</th>
              <th>Created At</th>
              <th>Detail Orders</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let historyorder of Historyorder |filter:searchText:'code':'tableName':'type':'totalPrice':'customerName':'status'">
            <tr>
              <td>{{ historyorder.code }}</td>
              <td>{{ historyorder.customerName }}</td>
              <td>{{ historyorder.tableName }}</td>
              <td>{{ historyorder.status }}</td>
              <td>{{ historyorder.totalPrice | number }}</td>
              <td>{{ historyorder.createdAt }}</td>
              <td>{{ getDetailOrder(historyorder) }}</td>



              <!-- <td>{{historyorder.code}}</td>
              <td>{{historyorder.tableName}}</td>
              <td>{{historyorder.type}}</td>
              <td>{{historyorder.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
              <td>{{historyorder.paymentPaidAt}}</td>
              <td>{{historyorder.totalPrice | number:'1.2-2'}}</td>
              <td>{{historyorder.customerName}}</td>
              <td>{{historyorder.adminName}}</td> -->
              <td>
              <p *ngIf="historyorder.status?.toLowerCase() === 'process'" style="margin: 2px 6px; border-radius: 5px; background-color: #FBC924;">{{historyorder.status}}</p>
              <p *ngIf="historyorder.status?.toLowerCase() != 'process'" style="margin: 2px 6px; border-radius: 5px; background-color: #A2FF99;">{{historyorder.status}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

  <!-- Modal untuk Add category baru -->
  <div class="modal fade downloadhistory" id="downloadhistory" aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row d-flex justify-content-evenly" >
            <div class="col-auto">
              <label for="inputstartdate" class="visually-hidden">Start date</label>
              <input type="date" class="form-control" id="inputstartdate" placeholder="Start date"[(ngModel)]="startDatetoexcel"name="startDate">
            </div>
            <div class="col-auto">
              <label for="inputenddate" class="visually-hidden">End Date</label>
              <input type="date" class="form-control" id="inputenddate" placeholder="End Date" [(ngModel)]="endDatetoeexcel" name="endDate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="exportToExcel()">Download</button>
        </div>
      </div>
    </div>
  </div>