<div style="width: 100%; box-sizing: border-box">
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff9f9;
      "
    >
      <div id="header-menu">
        <!-- <h3>Master Table</h3> -->
  
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Table</li>
          </ol>
        </nav>
  
        <div id="edit-status" class="form-check form-switch" style="position: relative;">
          
          <button type="button" class="btn btn-success btn-sm" (click)="cekperubahan()">Save</button>
          
        </div>
      </div>
  
      <div id="isi-menu02">
        <div
          id="fileter_kategory"
          tabindex="0"
          data-bs-toggle="popover"
          data-bs-trigger="hover focus"
          data-bs-content="Disabled popover"
        >
          <div style="display: flex; flex-direction: row; align-items: center">
            <form class="d-flex" role="search" style="margin-left: 30px">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
  
          <div style="display: flex; flex-direction: row">
            <a
              id="add-button"
              data-bs-toggle="modal"
              data-bs-target="#addrpoductModal"
              (click)="ceknotable()"
              ><i class="fa-solid fa-plus"></i> Add</a
            >
          </div>
        </div>
  
        <div style="display: flex; flex-direction: row; gap: 5px"></div>
      </div>
    </div>
  
    <div id="isi-menu-body">
      <div id="isi-menu">
        <table id="isitabel_product" class="table table-striped">
          <thead>
            <tr>
              <th  scope="col">Active</th>
              <th scope="col">QR</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
  
          <tbody>
            <!-- <h6 style="margin-left: 10px;">{{ category.key }}</h6> -->
            <tr *ngFor="let table of table">
              <td>
                {{ table.name }}
              </td>
  
              <td>
                
                <img id="category-name" (click)="selecttable(table.qrImage, table.name)"
                  style="object-fit: cover; object-position: center"
                   [src]="table.qrImage" alt="QR Code"

                  width="50"
                  height="50"
                />
              </td>
              <td>
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 30px;
                    align-items: center;
                    margin: 0 20px;
                  "
                >
                  <div class="form-check form-switch" style="margin: 0">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      [(ngModel)]="table.isActivated"
                    />
                  </div>
  
                  <div style="color: #f80000; font-size: 20px; margin: 0">
                    <i class="fa-solid fa-trash"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="isi-menu03">
        <table id="isitabel_product" class="table">
          <thead>
            <tr>
              <th scope="col">
                Detail Table Number
                <i class="fa-solid fa-pen-to-square" style="color: #f80000"></i>
              </th>
            </tr>
          </thead>
        </table>
        <!-- input yang keluar jika nama category belum di click atau sudah diclick cancel-->
        
        <div *ngIf="!selectedtable" style="display: flex; flex-direction: column;width: 100%; height: 50%;justify-content: center; align-items: center;">
          <h6 style="opacity: 40%;">Select a table name to view details.</h6>
        </div>
        <!-- akan keluar jika nama category di click -->
        <div *ngIf="selectedtable" style="width: 55%;">
        <div   style="border: 2px solid black; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); display: flex;  flex-direction: column; align-items: center;">
          <img
            style="object-fit: cover; object-position: center; align-items: center;"
            src="{{ selectedtable }}"
            alt="QR Code for {{ selectedtable }}"
            width="100%"
          />
          <h3 style="margin:0 0 10px 0; height: 100%;">Tabel {{selectednametable}}</h3>
          
  
          
        </div>
        <p style="font-size: 12px; margin-top: 10px;"><i>Size QR Code 5 x 7 cm</i></p>
        <div style="float: right; margin-top: 5px;">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="downloadpdf(selectedtable,selectednametable )"
          >
            Download
          </button>
        </div>
      </div>
      </div>
    </div>
  
    <!-- Modal jika ada perubahan status -->
    <div
      class="modal fade"
      id="changeModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeModalLabel">Update Status</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Data berikut telah mengalami perubahan:</p>
            <ul>
              <li *ngFor="let changedTable of changedTable">
                <strong>{{ changedTable.name }}</strong> - Status:
                {{ changedTable.activated ? "Aktif" : "Tidak Aktif" }}
              </li>
            </ul>
            <p>apakah Anda yakin?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="buttonsavetable()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>



      <!-- Modal untuk Add table baru -->
  <div class="modal fade add_kategory_baru" id="addrpoductModal" aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Add Table</label>
            <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Select the added table"
             > -->
             <select
                        type="text"
                        class="form-control "
                        id="inputtablebaru"
                        name="name"
                        [(ngModel)]="newtable"
                        required
                      >
                        <option value="" disabled selected>
                          Select the added table
                        </option>
                        <option
                          *ngFor="let ready of notableready"
                          [ngValue]="ready"
                        >
                        
                          {{ready}}
                        </option>
                      </select>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary " data-bs-dismiss="modal" (click)="addtable()" >Save
            Change</button>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="successToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Your operation was successful!</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  
    <!-- Toast Error -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="errorToast"
        class="toast align-items-center text-bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Something went wrong! Please try again.</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
  