<header class="header-sticky">
  <div class="header">
    <img
      style="
        width: 202px;
        height: 41px;
        top: 30px;
        left: 119px;
        gap: 0px;
        opacity: 0px;
        margin-top: 5%;
        margin-bottom: 1%;
      "
      src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/product_image/logo-white.png"
    />

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 30px;
      "
    >
      <div class="input-group mb-2" style="width: 246px">
        <span
          class="input-group-text"
          style="
            background-color: white !important;
            border-right: none;
            height: 25px !important;
          "
          ><i class="fa-solid fa-magnifying-glass"></i
        ></span>
        <input
          style="border-left: none; height: 25px !important"
          type="text"
          class="form-control border-black--focus"
          placeholder="search ......"
          aria-label="product_name_search"
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>
  </div>

  <!-- category -->
  <div class="div-header">
    <!-- category -->
    <!-- [class.border-bottom-red]="activeCategoryId === category.id" -->

    <div style="padding-inline: 9px">
      <span
        *ngFor="let category of categories"
        [class.border-bottom-red]="activeCategoryId === category.id"
        (click)="scrollToCategory(category.id)"
        style="cursor: pointer; padding: 10px"
      >
        {{ category.name }}
      </span>
    </div>
  </div>
</header>

<!-- Content -->

<div
  class="content"
  style="padding-right: 20px; padding-left: 20px; padding-top: 5px"
>
  <div
    class="col-12"
    *ngFor="let category of categories"
    [attr.id]="category.id"
  >
    <p class="fw-bold mb-1">{{ category.name }}</p>
    <div
      class="col-12"
      *ngFor="
        let product of filterProductsBySearch() | filterByCategory : category.id
      "
    >
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>

<!-- Cart Button -->

<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br />

<div
  style="
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    min-width: 325px;
  "
  *ngIf="orderService.getTotalItemQuantity() > 0"
>
  <button
    type="button"
    class="btn btn-red"
    style="min-width: 100%; padding: 0; border: 0"
    routerLink="/cart"
  >
    <div class="d-flex justify-content-between align-items-center">
      <div
        class="icon-container"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          color: black;
          border-radius: 5px;
          margin: -2px;
          height: 70px;
          width: 80px;
          position: relative;
        "
      >
        <i
          class="fa-solid fa-cart-plus fa-2xl"
          style="position: relative; color: #ff0000"
        >
          <span
            class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-dark"
            style="font-size: 9px; margin-bottom: 40px"
          >
            {{ orderService.getTotalItemQuantity() }}
          </span>
        </i>
      </div>
      <span class="total-payment" style="text-align: right; padding: 10px 20px">
        <strong>payment :</strong> <br />
        {{ orderService.getTotalPrice()}}
      </span>
    </div>
  </button>
</div>
