<div style="width: 100% ; background-color: #ffffff; box-sizing: border-box;" >
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        padding: 0;
        background-color: #ffffff;
      "
    >
      <div id="header-menu">
        <!-- <h5>Master Product</h5> -->
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kitchen Admin</li>
          </ol>
        </nav>
        <div>
          <i style="font-size: large;" class="fa-solid fa-users">  {{totalorderprocess}}</i>
        </div>
        <div routerLink="/admin" id="buttonhome" >
          
          <a style="font-size: 18px; padding: 4px 8px;" ><i class="fa-solid fa-house"></i> Back</a>
      </div>

      </div>
    </div>

    <div id="isi-menu">
      
        <div id="card-menu" style="margin: 20px;   display: flex; flex-direction: row;" >
          <div  style="width: 350px;   flex-shrink: 0; margin: 0 10px;" *ngFor="let proses of orderprocess; let i = index">
            <div class="card shadow"  style="border: 1px solid #929292; background-color: white; border-radius: 20px; overflow: hidden;">

              <div style="background-color: #FF0000; color: white; display: flex; flex-direction: row; align-items: center; padding: 0 8px;">
                <div style="width: 80%; height: 100%;">
                <div style="display: flex; flex-direction: row; align-items: center; ">
                  <label style="width: 100%; align-items: center;"> <b>Queue : {{ i + 1 }} </b> </label>
                </div>
                <div style="display: flex; flex-direction: column; ">
                   <p  style="width: 100%; align-items: center; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" >{{ proses.customerName }}</p> 
                   <p style="width: 100%; align-items: center; margin: 0;" >{{proses.createdAt| date:"HH:mm"}}  ({{proses.type}})</p> 
                </div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; margin: 0; padding: 6px 2px;">
                  <p style="margin: 0; font-size: 16px;">TABLE</p>
                  <h1 style="margin: 0;">{{ proses.tableName }}</h1>
                </div>
              </div>
              <div>
                <table class="table table-borderless table-sm " >
                  <thead style="position: sticky; top: 0;" >
                      <tr >
                          <th style="background-color: #818181; color: white;">Item Order</th>
                          <th style="background-color: #818181; color: white;">Quantity</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let prosesdetail of proses.productOrders ">
                        <td>
                          {{prosesdetail.productName}}
                        </td>
                        <td>
                          {{prosesdetail.quantity}}
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>

              <img class="card-img-top"  >
              <div class="card-body text-end" style="display: flex; justify-content: center; margin-top: 10px;">
                  <button  type="button" class="btn btn-success" style="width: 70%; border-radius: 30px; font-size: 16px;" (click)="patchorderstatus(proses.id)">Done</button>
              </div>
            
            </div>
          </div>

        </div>
      
    </div>
   
</div>

<!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="successToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Your operation was successful!</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  
    <!-- Toast Error -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="errorToast"
        class="toast align-items-center text-bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Something went wrong! Please try again.</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>