<div style="width: 100%; box-sizing: border-box">
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff9f9;
      "
    >
      <div id="header-menu">
        <!-- <h5>Master Product</h5> -->
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kitchen Admin</li>
          </ol>
        </nav>
        <div routerLink="/admin/cassier-admin" style="border: 2px solid rgba(0, 0, 0, 0.324);border-radius: 8px; display: flex; align-items: center; padding: 0 10px; cursor: pointer;">
          <i class="fa-solid fa-arrow-left"></i>
          <a style="font-size: 18px; padding: 4px 8px;" >Back</a>
      </div>

      </div>
    </div>

    <div id="isi-menu">
      
        <div id="card-menu" style="margin: 20px; display: flex; flex-direction: row;" >
          <div  style="width: 350px; margin-bottom: 20px; flex-shrink: 0; margin: 0 10px;" *ngFor="let proses of orderprocess">
            <div class="card shadow ">
              <div style="  margin-top: 10px; padding: 0 10px; background-color: #f9f9f9;">
                <div class="mb-3 row">
                  <label class="col-sm-6 col-form-label">Customer Name:</label>
                  <div class="col-sm-6">
                      <p class="form-control-plaintext">{{ proses.customerName }}</p>
                  </div>
                </div>
              
                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label">Table Number:</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{{ proses.tableName }}</p>
                    </div>
                </div>
              <div >
              <table class="table table-borderless table-sm " >
                  <thead style="position: sticky; top: 0;" >
                      <tr >
                          <th style="background-color: #f9f9f9;">Item Order</th>
                          <th style="background-color: #f9f9f9;">Quantity</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let prosesdetail of proses.productOrders ">
                        <td>
                          {{prosesdetail.productName}}
                        </td>
                        <td>
                          {{prosesdetail.quantity}}
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <img class="card-img-top"  >
              <div class="card-body text-end">
                  <button  type="button" class="btn btn-success" (click)="patchorderstatus(proses.id)">Done</button>
              </div>
            </div>
          </div>

        </div>
      
    </div>
   
</div>

<!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="successToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Your operation was successful!</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  
    <!-- Toast Error -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="errorToast"
        class="toast align-items-center text-bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Something went wrong! Please try again.</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>