<div
  style="
    width: 100%;
    background-color: #f9f9f9;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  "
>
<div style="width: 70%; background-color: white;box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); overflow-y: scroll;"> 
    <nav id="navbarmenu" class="navbar navbar-expand-lg " style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); position: sticky; top: 0;z-index: 2;">
        <h6 *ngFor="let item of menuItems" 
      (click)="setActive(item)" 
      [class.active]="item === activeItem">
    {{ item }}
  </h6>
    </nav>
    <div id="menu01" class="show"  *ngIf="activeItem === 'Edit Profile'" style="display: flex; flex-direction: column; align-items: center; justify-content: center; ">
        <div style="width: 150px; height: 150px; position: relative; margin: 30px 0;">
            <img style=" object-fit: cover;" src="https://cdn-2.tstatic.net/wartakota/foto/bank/images/jago_20180216_185417.jpg" class="rounded-circle" alt="Gambar Bulat" width="150" height="150">
            <div class="rounded-circle" style="background-color: red; position: absolute; bottom: 0; right: 10px; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
                <i class="fa-solid fa-pencil" style="color: white;"></i>
            </div>
        </div>
        <div class="inputsettings" style="display: flex; flex-direction: row; justify-content: space-between; width: 60%;">
            
            <div>
                <label class="form-label">First Name</label>
                <input type="text" class="form-control lg" id="inputfirstname">
            </div>
            <div>
                <label for="inputPassword4" class="form-label">Last Name</label>
                <input type="text" class="form-control lg" id="inputlastname">
            </div>
        </div>

        <div class="inputsettings" style="display: flex; flex-direction: row; justify-content: start; width: 60%;">
            <div>
                <label class="form-label">User ID</label>
                <input type="text" class="form-control lg" id="inputuserid" disabled>
            </div>
          </div>

          <div class="inputsettings" style="display: flex; flex-direction: row; justify-content: start; width: 60%;">
            <div>
                <label class="form-label">position</label>
                <input type="text" class="form-control lg" id="inputposition" disabled>
            </div>
          </div>
          <div class="inputsettings" style="display: flex; flex-direction: row; justify-content: start; width: 60%;">
            <div>
                <label class="form-label">Date of Birth</label>
                <input type="text" class="form-control lg" id="inputfirstname">
            </div>
          </div>
          <div class="inputsettings" style="display: flex; flex-direction: row; justify-content: start; width: 60%;">
            <div>
                <label class="form-label">Password</label>
                <input type="password" class="form-control lg" id="inputfirstname">
            </div>
          </div>
          <button type="button" style="margin: 30px 0;" class="btn btn-primary">Save Changes</button>
    </div>

    <div id="menu02" class="show" *ngIf="activeItem === 'Change Password'">
        <h1>ini Change Password</h1>
    </div>
</div>
</div>