<div style="width: 100%; box-sizing: border-box">
  <div
    style="
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #fff9f9;
    "
  >
    <div id="header-menu">
      <!-- <h5>Master Product</h5> -->
      <nav
        style="
          --bs-breadcrumb-divider: url(&#34;data:image/svg + xml,%3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
          );
        "
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">User</li>
        </ol>
      </nav>
        </div>
    <div id="isi-menu02">
      <div
        id="fileter_kategory"
        tabindex="0"
        data-bs-toggle="popover"
        data-bs-trigger="hover focus"
        data-bs-content="Disabled popover"
      >
        <div style="display: flex; flex-direction: row; align-items: center">
          <div style="display: flex; flex-direction: row; align-items: center">
            <input
              style="margin-left: 30px"
              type="text"
              class="form-control"
              [(ngModel)]="searchText"
              placeholder="Search"
              aria-describedby="search-icon"
            />
          </div>
        </div>
        <div style="display: flex; flex-direction: row">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#adduserModal"
          >
            Add 
          </button>
          <!-- <button type="button" class="btn btn-primary">Primary</button> -->
        </div>
      </div>
      </div>
      <div id="isi-menu">
        <table id="isitabel_product" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Birthday</th>
              <th scope="col">Role</th>
              <th scope="col">User ID</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of user| filter:searchText:'name':'birthday':'role':'user_id'">
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.birthday}}</td>
              <td>{{user.role}}</td>
              <td>{{user.user_id}}</td>
              <td>
                <div 
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 0 20px;
                  "
                >
                
                  <div style="color: #f80000; ; margin: 0" (click)="deleteuser(user.id,user.name)">
                    <i style="background-color: #f80000; padding: 5px 10px; border-radius: 5px; font-size: 16px; color: rgb(255, 255, 255); cursor: pointer"
                    class="fa-solid fa-trash"></i>
                    <!-- <i class="fa-solid fa-trash"></i> -->
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>


  <!-- add product -->
  <div
  class="modal fade"
  id="adduserModal"
  tabindex="-1"
  aria-labelledby="addrpoductModalLabel"
  data-bs-backdrop="static"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addrpoductModalLabel">Add User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <form>
            <div id="modal_data">
              <div id="data_edit">
                <div class="mb-3">
                  <label for="productName" class="form-label"
                    >User Name</label
                  >
                  
                  <input
                    placeholder="insert product name"
                    type="text"
                    class="form-control"
                    id="productName"
                    name="name"
                    [(ngModel)]="username"
                    required
                  />
                </div>

                <div class="mb-3">
                    <label for="productName" class="form-label"
                      >Date of Birth</label
                    >
                    
                    <input
                      placeholder="insert product name"
                      type="date"
                      class="form-control"
                      id="productName"
                      name="name"
                      [(ngModel)]="birthuser"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="category" class="form-label">Position</label>
                    <select
                      class="form-control"
                      id="category"
                      name="name"
                      required
                      [(ngModel)]="selectedRole"
                    >
                      <option value="" disabled selected>Choose Category</option>
                      <option *ngFor="let r of role" [value]="r">{{ r }}</option>
                    </select>
                  </div>

                  
              </div>
              <div id="add_modal_img">
                <img
                  id="img01"
                  style="
                    object-fit: cover;
                    object-position: center;
                    border-radius: 9px;
                    transition: transform 0.3s ease;
                  "
                  alt=" "
                  height="150"
                  width="150"
                />
                <ng-template #defaultImage>
                  <img
                    style="
                      object-fit: cover;
                      object-position: center;
                      border-radius: 9px;
                    "
                    alt="Default Image"
                    height="150"
                    width="150"
                  />
                </ng-template>
              </div>
            </div>
           
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="adduser()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

   <!-- Toast -->
   <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="successToast"
      class="toast align-items-center text-bg-success border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">Your operation was successful!</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>

  <!-- Toast Error -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="errorToast"
      class="toast align-items-center text-bg-danger border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">Something went wrong! Please try again.</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>

