<div
  style="
    border: 2px solid orange;
    width: 100%;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: row;
  "
>
 <div style="width: 50%; height: 100%; background-color: #f9f9f9; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img  src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/logo/logo.png" alt="image"
    width="200">
    <h1 style="color: #f80000;"><B>KANTIN K'JAYA</B></h1>
    <footer style="position: fixed; bottom: 100px;">
        <button style="font-size: small;" type="button" class="btn btn-success">Need <i class="fa-brands fa-whatsapp"></i> Help?</button>
    </footer>
 </div>

 <div style="width: 50%;">
    <div style="background-color: white; height: 100%; width: auto; margin: 0 100px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <i class="fa-solid fa-circle-user" style="color: #f80000; font-size: 80px;"></i>
        <div style="width: 80%; margin: 30px;">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">User ID</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
        </div>
        <button type="button" style="width: 80%;" class="btn btn-primary">Login</button>
        <footer style="position: fixed; bottom: 0">
            <p style="font-size: 12px; margin-bottom: 50px;">Powered By <a href="" style="text-decoration: none;">SJBU25</a></p>
        </footer>
    </div>
 </div>
</div>