
    <div id="bg-sub-home">
      <div id="image-home" style="display: flex; flex-direction: row">
        <div
          routerLink="/admin"
          id="img"
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 24px;
            color: white;
            margin: 0 40px 0 20px;
            cursor: pointer;
          "
        >
          <i style="margin: 0 10px" class="fa-solid fa-house"></i>
          <h6 style="margin: 0">Home</h6>
        </div>
        <div (click)="calltoggleSidebar()" id="list-line-home">
          <span id="ilne1" class="ilne-home" [class.rotated]="isRotated"></span>
          <span id="ilne2" class="ilne-home" [class.rotated]="isRotated"></span>
          <span id="ilne2" class="ilne-home" [class.rotated]="isRotated"></span>
        </div>
      </div>
      <div id="bg-sub-home02">
        <img
          src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/logo/logo.png"
          alt="Image"
          alt=""
          width="80"
        />
      </div>
      <div
        id="bg-sub-home03"
        style="
          display: flex;
          flex-direction: row;
          margin: 0 30px;
          align-items: center;
          color: white;
        "
      >
        <a
        style="color: white;"
          href="#"
          class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <!-- <h6 style="margin: 0; margin-left: 5px">Username</h6> -->
          <i style="color: white; font-size: 20px;" class="fa-regular fa-user"></i>
        </a>
        <ul
          class="dropdown-menu text-small shadow" style="min-width: 300px; "
          aria-labelledby="dropdownUser2"
        >
        <li style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 30px 0;">
          <i class="fa-solid fa-circle-user" style="color: #f80000; font-size: 50px;"></i>
          <p>Eudora Z</p>
          <p>24120001</p>
          <p>Super Admin</p>
        </li>
        
          <li style="display: flex; justify-content: space-between;">
            <a class="dropdown-item" routerLink="/admin/settings" ><i class="fa-solid fa-gear"></i> Setting</a>
            <a class="dropdown-item" routerLink="/autentication">Sign out <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          </li>
        </ul>
      </div>
    </div>
  
  
  