<div id="wellcome">
    <div id="welcome01">
        <h1>WELCOME TO</h1>
    </div>
    <div id="WELCOME02">
        <h1>KANTIN K'JAYA</h1>
    </div>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/product_image/banner-image/point-coffee.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/product_image/banner-image/yoshinoya-1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/product_image/banner-image/ricis.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>