#inputan-login{
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 80px 50px 60px 50px;
}
#inputan-email-login{
    width: 85%;

}
#inputan-pass-login{
    width: 85%;
}


#bagian1-login img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);;

}

#bagian2-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

}


#bagian2-login h5{
    padding-top: 5px;

}

#bagian2-login span{
    font-size: 10pt;

}
#cekbox-login{
    align-items: start;
}

#button-conek-login{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 20px;
}
#button-conek-login .btn{
    width: 25%;
    border: 2px solid rgba(0, 0, 0, 0.1)
}

@media (max-width: 768px) {
    #inputan-login{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;

    }
    #bagian1-login{
        height: 200px;
    }

    #bagian1-login img{
        height: 80%;
        padding: 20px 20px 0 20px;
        box-shadow: none;
        border-radius: 5px;
    }
    #bagian2-login{
        box-shadow: none;
        flex-basis: 100%;
    }
}
