
header {
    position: fixed; /* Fixes the position */
    top: 0; /* Aligns it to the top of the viewport */
    left: 0; /* Aligns it to the left */
    right: 0; /* Ensures it stretches across the width */
    background-color: white;
    z-index: 1000; /* Ensures it stays above other content */
    padding: 10px; /* Optional: adds some padding */
  }
  
/* Kategori */
.category-bar {
  overflow-x: auto;
  white-space: nowrap;
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}

.category-bar button {
  flex-shrink: 0;
  margin-right: 10px;
}
.category-bar button.active {
  background-color: black;
  color: white;
  border: none;
}
.category-bar::-webkit-scrollbar {
  display: none;
}
/* Card */
.card {
  border: none;
}
.card img {
  border-radius: 5px;
}
