<header>
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn p-0" aria-label="Go Back">
      <i class="fa-solid fa-arrow-left"> </i>
      <span class="mx-3">Menu</span>
    </button>
  </div>
  <div class="category-bar d-flex align-items-center">
    <button
      type="button"
      class="btn btn-outline-dark rounded-pill me-1"
      style="
        --bs-btn-padding-y: 0.25rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 0.75rem;
        border-width: 2px;
      "
      *ngFor="let category of categories"
      [class.active]="activeCategoryId === category.id"
      (click)="scrollToCategory(category.id)"
    >
      {{ category.name }}
    </button>
  </div>
</header>

<!-- Content -->
<div class="content" style="margin-top: 100px">
  <div
    class="col-12"
    *ngFor="let category of categories"
    [attr.id]="category.id"
  >
    <p class="fw-bold mb-1">{{ category.name }}</p>
    <div
      class="col-12"
      *ngFor="let product of products | filterByCategory : category.id"
    >
      <div class="card my-2">
        <div class="d-flex align-item-center">
          <img
            [src]="product.urlImage"
            class="img-fluid rounded me-3"
            alt="{{ product.name }}"
            style="
              width: 100px;
              height: 100px;
              object-fit: cover;
              flex-shrink: 0;
            "
          />
          <div style="min-width: 200px; max-width: 70%; flex-grow: 1">
            <p class="fw-bold mb-1">{{ product.name }}</p>
            <p class="text-break" style="font-size: 12px">
              {{ product.description }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="text align-self-center">{{ product.price }}</p>
                <div
                  class="row align-items-center"
                  *ngIf="orderService.getProductQuantity(product.id) > 0"
                >
                <div class="col-auto">
                  <button
                    class="btn btn-outline-dark btn-sm"
                    (click)="orderService.decreaseQuantity(product)"
                  >
                    <i class="fa-solid fa-minus"></i>
                  </button>
                </div>
                <div class="col text-center p-0">
                  <span>{{ orderService.getProductQuantity(product.id) }}</span>
                </div>
                <div class="col-auto">
                  <button
                    class="btn btn-outline-dark btn-sm"
                    (click)="orderService.increaseQuantity(product)"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>

              <!-- Show only the "+" button if quantity is 0 or less -->
              <div
                class="d-flex justify-content-center align-items-center"
                style="min-width: 50%"
                *ngIf="orderService.getProductQuantity(product.id) <= 0"
              >
                <button
                  class="btn btn-outline-dark btn-sm"
                  (click)="orderService.increaseQuantity(product)"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <!-- Cart Button -->
  <div
    class="cart-button"
    style="
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      min-width: 95%;
    "
  >
    <button
      type="button"
      class="btn btn-dark"
      style="min-width: 100%"
      routerLink="/cart"
    >
      <div class="d-flex justify-content-between">
        <span>Items : {{ orderService.getTotalItemQuantity() }}</span>
        <span>Total : {{ orderService.getTotalPrice() }} </span>
      </div>
    </button>
  </div>
  <br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br />
</div>
