<h3>Master Product</h3>
<div id="isi-menu">
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Harga</th>
          <th scope="col">Description</th>
          <th scope="col">category</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product">
            <td>
                {{product.name}}
            </td>
            <td>
                <img src="{{product.urlImage}}" alt=""width="150" height="mb-auto">
            </td>
            <td>
                {{product.price}}
            </td>
            <td>
                {{product.description}}
            </td>
            <td>
                {{product.category}}
            </td>
        </tr>
      </tbody>
  </table>
</div>