<div class="responsive-margin-top">
  <div class="d-flex justify-content-center">
    <img
      src="https://image-storage-order-app.s3.eu-north-1.amazonaws.com/product_image/logo-red.png"
      class="width: 305px; height: 62px; flex-shrink: 0;"
      alt="Image"
      width="260"
    />
  </div>
  <div class="d-flex justify-content-center">
    <p
      style="
        font-size: 60px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 2px;
        letter-spacing: 2px;
        color: transparent;
        -webkit-text-stroke: 2px #f80000;
      "
    >
      WELCOME
    </p>
  </div>
</div>
<button routerLink="/admin">masuk ke admin</button>

<div
  class="card-group d-flex flex-nowrap justify-content-center align-items-center responsive-margin-top responsive-margin-bottom"
  style="height: 200px; margin-right: 20px; margin-left: 20px"
>
  <div
    class="card d-flex justify-content-center align-items-center"
    style="
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      width: 180px;
      background-color: #f00;
      height: 148px;
      flex-shrink: 0;
    "
  >
    <a
      style="
        color: var(--Text, #fff);
        text-align: center;
        -webkit-text-stroke-width: 1;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
        font-style: normal;
        line-height: normal;
      "
      class=""
      >TABLE</a
    >
  </div>
  <div
    class="card d-flex justify-content-center align-items-center"
    style="width: 180px; height: 148px; flex-shrink: 0; margin-left: -12px"
  >
    <a
      style="
        color: var(--Text, #f00);
        text-align: center;
        -webkit-text-stroke-width: 1;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      "
      class=""
      >{{ tableNum }}</a
    >
  </div>
</div>

<!-- fill customer name and button -->

<div class="mt-5" style="text-align: center">
  <div
    class="input-group flex-nowrap"
    style="
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      max-width: 75%;
      margin: auto;
    "
    *ngIf="!nameError"
  >
    <span
      class="input-group-text"
      id="custumer-name"
      style="background-color: #f00"
    >
      <i class="fa-solid fa-circle-user fa-lg" style="color: #fff"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Fill in your name..."
      aria-label="Username"
      aria-describedby="custumer-name"
      [(ngModel)]="customerName"
    />
  </div>
  <div
    class="input-group flex-nowrap"
    style="
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      max-width: 75%;
      margin: auto;
    "
    *ngIf="nameError"
  >
    <span
      class="input-group-text"
      id="custumer-name"
      style="background-color: #f00"
    >
      <i class="fa-solid fa-circle-user fa-lg" style="color: #fff"></i>
    </span>
    <input
      type="text"
      class="form-control is-invalid"
      placeholder="Fill in your name..."
      aria-label="Username"
      aria-describedby="custumer-name"
      [(ngModel)]="customerName"
    />
  </div>
  <div id="custumer-name" class="form-text" *ngIf="!nameError">
    *To start your order you must fill in your name
  </div>
  <div
    id="custumer-name"
    class="form-text"
    style="color: red"
    *ngIf="nameError"
  >
    *To start your order you must fill in your name
  </div>
</div>

<div class="mt-5 d-flex justify-content-center">
  <button
    type="button"
    class="btn"
    style="
      font-size: 200x;
      height: 38px;
      flex-shrink: 0;
      background-color: #f00;
      color: #fff;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 5px;
    "
    (click)="onOrderClick()"
  >
    LET’S ORDER
    <i
      class="fa-solid fa-arrow-right-from-bracket mx-2"
      style="color: #fff"
    ></i>
  </button>
</div>

