<div style="width: 100%; box-sizing: border-box">
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff9f9;
      "
    >
      <div id="header-menu">
        <!-- <h5>Master Product</h5> -->
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
          </ol>
        </nav>
  
        <div id="edit-status" class="form-check form-switch" style="position: relative;">
          <button
           type="button" class="btn btn-success btn-sm" (click)="cekperubahan()">Save Changes</button>
          
        </div>
        <!-- <button style="margin: 0 10px;" type="button" class="btn btn-secondary"  (click)="cekstatus()" [disabled]="isSecondCheckboxDisabled">Save</button> -->
      </div>
  
      <div id="isi-menu02">
        <div
          id="fileter_kategory"
          tabindex="0"
          data-bs-toggle="popover"
          data-bs-trigger="hover focus"
          data-bs-content="Disabled popover"
        >
          <div style="display: flex; flex-direction: row; align-items: center">
            <!-- menu filter pertama -->
            <!-- <i
            class="fa-solid fa-filter"
            data-bs-toggle="modal"
            data-bs-target="#modalselectbycategory"
            style="margin-right: 10px"
          ></i> -->
  
            <!-- menu filter ke dua -->
            <div id="menu-filter">
              <i
                class="fa-solid fa-filter"
                (click)="toggleDisabled()"
                [ngClass]="{ 'color-menu-filter': !isDisabled }"
              ></i>
            </div>
  
            <form class="d-flex" role="search" style="margin-left: 30px">
              <input
                [(ngModel)]="searchKeyword"
                (ngModelChange)="filterGroupedProducts()"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
  
          <div style="display: flex; flex-direction: row">
            <a
              id="add-button"
              data-bs-toggle="modal"
              data-bs-target="#addrpoductModal"
              ><i class="fa-solid fa-plus"></i> Add</a
            >
            <!-- <button type="button" class="btn btn-primary">Primary</button> -->
          </div>
        </div>
  
        <div id="isi-menu-filter" *ngIf="!isDisabled">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Choose product
              </button>
              <ul class="dropdown-menu dropdown-menu-light">
                <li style="margin: 0 10px">
                  <div class="form-check" *ngFor="let categories of categories">
                    <input
                      class="form-check-input"
                      [(ngModel)]="categories.checked"
                      (ngModelChange)="groupProductsByCategory()"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      {{ categories.name }}
                    </label>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <ul id="garis-menu-filter">
            <div style="width: 100%; height: 1px; background-color: black"></div>
          </ul>
        </div>
  
        <div style="display: flex; flex-direction: row; gap: 5px">
          <div class="tag-list" *ngFor="let tag of categories">
            <div
              class="tag-item"
              *ngIf="tag.checked"
              style="
                border: 2px solid #f80000;
                padding: 3px 6px;
                border-radius: 10px;
                background-color: white;
                font-size: 14px;
              "
            >
              <span style="margin: 5px">{{ tag.name }}</span>
              <!-- <i class="fa-solid fa-xmark"></i> -->
              <i class="fa-solid fa-xmark" (click)="removeTag(tag)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalselectbycategory"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="staticBackdropLabel">
              Search by Category
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-check" *ngFor="let categories of categories">
              <input
                class="form-check-input"
                [(ngModel)]="categories.checked"
                (ngModelChange)="groupProductsByCategory()"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                {{ categories.name }}
              </label>
            </div>
            <!-- <div class="form-check">
                  <input class="form-check-input"  [(ngModel)]="categories.checked" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                      {{categories.checked}}
                  </label>
                </div> -->
          </div>
          <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">OK</button>
          </div> -->
        </div>
      </div>
    </div>
  
    <div id="isi-menu">
      <table id="isitabel_product" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Harga</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
  
        <tbody *ngFor="let category of groupedProducts | keyvalue">
          <!-- <h6 style="margin-left: 10px;">{{ category.key }}</h6> -->
          <tr *ngFor="let products of category.value">
            <td>
              {{ products.name }}
            </td>
            <td>
              <img
                style="object-fit: cover; object-position: center"
                src="{{products.urlImage}}"
                alt=""
                (click)="openImageModal(products.urlImage!)"
                width="50"
                height="50"
              />
            </td>
            <td>
              {{ products.category }}
            </td>
            <td>
              {{ products.price }}
            </td>
            <td>
              {{ products.description }}
            </td>
  
            <td>
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;
                  margin: 0 20px;
                "
              >
              <div style=" background-color: rgba(0, 0, 255, 0.77); padding: 1px 0 1px 10px; border-radius: 5px;">
  
                <div class="form-check form-switch" style="margin: 0;  font-size: 16px;" >
                  <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  [(ngModel)]="products.isActivated"
                  />
                </div>
              </div>
  
                <div
                  (click)="onEditProduct(products)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  style="margin: 0; padding: 0"
                >
                  <!-- <i
                    style=" font-size: 20px; color: green; cursor: pointer"
                    class="fa-solid fa-pen-to-square"
                  ></i> -->
                  <i
                    style="background-color: green; padding: 5px 10px; border-radius: 5px; font-size: 16px; color: rgb(255, 255, 255); cursor: pointer"
                    class="fa-solid fa-pen-to-square"
                  ></i>
                </div>
                <div style="color: #f80000; ; margin: 0">
                  <i style="background-color: #f80000; padding: 5px 10px; border-radius: 5px; font-size: 16px; color: rgb(255, 255, 255); cursor: pointer"
                  class="fa-solid fa-trash"></i>
                  <!-- <i class="fa-solid fa-trash"></i> -->
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- modal edit product -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div *ngIf="productToEdit">
              <form>
                <div id="modal_data">
                  <div id="data_edit">
                    <div class="mb-3">
                      <label for="productName" class="form-label"
                        >Product Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        value="{{ productToEdit.name }}"
                        id="productName"
                        name="name"
                        required
                      />
                    </div>
                    
                    <div class="mb-3">
                      <label for="productCategory" class="form-label">Product Category</label>
                      
                      <select class="form-control"
                              id="productCategory"
                              name="category"
                              [(ngModel)]="selectedCategory"
                              required>
                              <option *ngIf="productToEdit" [ngValue]="productToEdit.category" disabled style="background-color: rgb(216, 216, 216);" selected>
                                {{ productToEdit.category }}
                              </option>
                        <option *ngFor="let category of categories"
                                [ngValue]="category">
                          {{ category.name }}
                        </option>
                      </select>
                    </div>
                    
                    
                    
                    <div class="mb-3">
                      <label for="productPrice" class="form-label">Price</label>
                      <input
                        type="number"
                        class="form-control"
                        value="{{ productToEdit.price }}"
                        id="productPrice"
                        name="price"
                        required
                      />
                    </div>
                  </div>
                  <div id="modal_img">
                    <img
                      [src]="productToEdit.urlImage"
                      alt="Product Image"
                      width="150"
                      height="auto"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productDescription" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    value="{{ productToEdit.description }}"
                    id="productDescription"
                    name="description"
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label"
                    >Default file input example</label
                  >
                  <input class="form-control" type="file" id="formFile" />
                </div>
              </form>
            </div>
            <div *ngIf="!productToEdit">
              <p>No product selected for editing.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- add product -->
    <div
      class="modal fade"
      id="addrpoductModal"
      tabindex="-1"
      aria-labelledby="addrpoductModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addrpoductModalLabel">Add Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              <form [formGroup]="productForm">
                <div id="modal_data">
                  <div id="data_edit">
                    <div class="mb-3">
                      <label for="productName" class="form-label"
                        >Product Name</label
                      >
                      <input
                        placeholder="insert product name"
                        type="text"
                        class="form-control"
                        id="productName"
                        name="name"
                        formControlName="name"
                        required
                      />
                    </div>
  
                    <div class="mb-3">
                      <label for="category" class="form-label"
                        >Category Name</label
                      >
                      <select
                        type="text"
                        class="form-control"
                        id="category"
                        formControlName="category"
                        name="name"
                        [(ngModel)]="selectedCategory"
                        required
                      >
                        <option value="" disabled selected>
                          Choose Category
                        </option>
                        <option
                          *ngFor="let category of categories"
                          [ngValue]="category"
                          [disabled]="!category.activated"
                        >
                        
                          {{ category.name }}
                        </option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="productPrice" class="form-label">Price</label>
                      <input
                        type="number"
                        class="form-control"
                        id="productPrice"
                        name="price"
                        formControlName="price"
                        required
                      />
                    </div>
                  </div>
                  <div id="add_modal_img">
                    <img
                      id="img01"
                      *ngIf="previewUrl; else defaultImage"
                      style="
                        object-fit: cover;
                        object-position: center;
                        border-radius: 9px;
                        transition: transform 0.3s ease;
                      "
                      [src]="previewUrl"
                      alt="Product Image"
                      height="150"
                      width="150"
                    />
                    <ng-template #defaultImage>
                      <img
                        style="
                          object-fit: cover;
                          object-position: center;
                          border-radius: 9px;
                        "
                        alt="Default Image"
                        height="150"
                        width="150"
                      />
                    </ng-template>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productDescription" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="productDescription"
                    name="description"
                    formControlName="description"
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label"
                    >Default file input example</label
                  >
                  <input
                    class="form-control"
                    type="file"
                    (change)="onFileSelected($event)"
                    id="formFile"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveProduct()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="successToast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Your operation was successful!</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  
    <!-- Toast Error -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="errorToast"
        class="toast align-items-center text-bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Something went wrong! Please try again.</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal jika ada perubahan status -->
  <div
    class="modal fade"
    id="changeModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeModalLabel">Update Status</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>The following data has undergone changes:</p>
          <ul>
            <li *ngFor="let product of changedProducts">
              <strong>{{ product.name }}</strong> - 
              {{ product.isActivated ? "Active" : "Inactive" }}
            </li>
          </ul>
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="buttonsaveproduct()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- modal buat preview gambar -->
  
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center">
          <img
            [src]="selectedImage"
            alt="Enlarged Image"
            class="img-fluid"
            style="max-height: 80vh"
          />
        </div>
      </div>
    </div>
  </div>
  