.header {
  background-color: #ff0000;
  color: white;
  text-align: center;
  z-index: 1000;
  height: 15vh;
  z-index: 1000;
  margin-right: -5px;
}

.header-sticky {
  position: fixed; /* Fixes the position */
  top: 0; /* Aligns it to the top of the viewport */
  left: 0; /* Aligns it to the left */
  right: 0; /* Ensures it stretches across the width */
  background-color: white;
  z-index: 1000; /* Ensures it stays above other content */
  padding: 0;
  position: sticky;
}

.div-header {
  background-color: white;
  border-radius: 15px 15px 0 0;
  border: 1px solid white;
  height: 45px;
  z-index: 1001;
  margin-top: -4vh;
  margin-inline: -2px;
  position: relative;
}
